
.menu-label{
    color:#92819f;

}
select
  {
    color:#92819f;
    box-shadow: 0px 2px 4px #92819f;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    border: #c01679;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

}
  select:hover
  {
      box-shadow: 0 0 5px #c01679  ;
      border: #c01679;
      
  }

  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: #c01679;
  }
  

  .select select:focus, .select select.is-focused, .select select:active, .select select.is-active {
    border-color: red;
    box-shadow: 0 0 0 0.125em #c49ba8;
  }
  
   option {
    box-shadow: 0px 2px 4px #92819f;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    border: #c01679;  } 

  
    .control-group {
      display: inline-block;
      vertical-align: top;
      background: #fff;
      text-align: left;
      box-shadow: 0 1px 2px rgba(0,0,0,0.1);
      padding: 30px;
      width: 200px;
      height: 210px;
      margin: 10px;
    }
    .control {
      display: block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px;
      cursor: pointer;
      font-size: 18px;
    }
    .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .control__indicator {
      position: absolute;
      top: 2px;
      left: 0;
      height: 20px;
      width: 20px;
      background: #e6e6e6;
    }
    .control--radio .control__indicator {
      border-radius: 50%;
    }
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
      background: #ccc;
    }
    .control input:checked ~ .control__indicator {
      background: #ffd77a;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
      background: #c49ba8;
      
    }
    .control input:disabled ~ .control__indicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none;
    }
    .control__indicator:after {
      content: '';
      position: absolute;
      display: none;
    }
    .control input:checked ~ .control__indicator:after {
      display: block;
    }
    .control--checkbox .control__indicator:after {
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    .control--checkbox input:disabled ~ .control__indicator:after {
      border-color: #7b7b7b;
    }
    .control--radio .control__indicator:after {
      left: 7px;
      top: 7px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: #fff;
    }
    .control--radio input:disabled ~ .control__indicator:after {
      background: #7b7b7b;
    }
    
  
  